{% include './header.html' %}
<body>
{% include './menu.html' %}

<hr />

    <h3>회원가입</h3>
    <hr />
    <form action = "/member/join" method='POST'>
        <table style="margin: 10px;">
            <tr>
                
                <td>아이디: <input type='text' name="id"/></td>
                <td>비밀번호: <input type='password' name="pw"/></td>
                <td>비밀번호 확인: <input type='password'/></td>
                <td>이름: <input type='text' name='na'/></td>
                <td>이메일: <input type='text' name='em'/></td>
                
            </tr>
        </table>
    
    <input type='submit' value='회원가입'>
    </form>
    
</body>
</html>